<div id="outPopUp" class="">
    <div class="">
  
        <!--to show error alert-->
        <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{errormsg}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
          <!--to show success alert-->
          <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successmsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <br><br>
          <div align="center">
            <img  src="/assets/logo.jpg" style="height: 100px;">
      <br><br>
        <form  [formGroup]="claimForm" >
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control" formControlName="staff_name" placeholder="staff Name">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="date" placeholder="Date">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="amount" placeholder="Amount">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control" formControlName="reason" placeholder="Reason">
          </div>
          <br>
          <div align="center" class="col-lg-15 mt-2" *ngIf="!getparamid" (click)="claimSubmit()">
      <button>Add claim</button>
          </div>
  
  
  
  
        </form>
  
      </div>
    </div>
  